<mat-card appearance="outlined" class="goat-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="tld">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>TLD</th>
      <td mat-cell *matCellDef="let r">{{r.tld}}</td>
    </ng-container>

    <ng-container matColumnDef="domain">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let r">{{r.domain}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</mat-card>
