<div id="main">
  <mat-toolbar color="warn" role="heading" class="mat-elevation-z6">
    <span>GoatDNF</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>Bottom Text</span>
  </mat-toolbar>
  <div class="container">

    <div class="home-center">
      <mat-card appearance="outlined">
        <mat-card-content>
          <h1 class="goat-header">
            {{ title }}
          </h1>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="home-center tld-home">
      <div class="goat-col goat-form">
        <app-goatform #gf (domainChange)="searchButtonClicked($event)"></app-goatform>
      </div>
      <div class="goat-col">
        <app-goatbox #gb [domainName]="searchText"></app-goatbox>
      </div>
    </div>
  </div>
</div>
