<mat-card appearance="outlined">
  <mat-card-content>
    <form [formGroup]="goatForm" (submit)="goatForm.valid ? onSubmit(domainInput.value) : null;">
      <mat-form-field color="warn" >
        <mat-label>Domain</mat-label>
        <input #domainInput
               formControlName="domainInput"
               matInput
               autocomplete="off"
               placeholder="Domain">
        <button matSuffix
                mat-icon-button
                aria-label="Search"
                type="submit"
                [disabled]="!goatForm.valid">
          <mat-icon>public</mat-icon>
        </button>
        <mat-hint>{{domainInput.value}}.com</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
