<mat-card>
  <mat-card-content>
    <form [formGroup]="goatForm" (submit)="submitSearch(domainInput.value)">
      <mat-form-field color="warn" appearance="standard" >
        <mat-label>Domain</mat-label>
        <input #domainInput
               formControlName="domainInput"
               matInput
               placeholder="Domain">
        <button matSuffix mat-icon-button aria-label="Search" [disabled]="!goatForm.valid">
          <mat-icon>public</mat-icon>
        </button>
        <mat-hint>{{domainInput.value}}.com</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
